{
  "presets": [
      [
          "env",
          {
              "targets": {
                  "node": "20.15.0"
              }
          }
      ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-export-extensions"  ]
}